html {
  background-color: #eee9de;
  font-family: Lato, sans-serif;
  line-height: 1.5;
  text-align: center;
  box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h2 {
  text-align: left;
}

.content {
  text-align: left;
}

a,
a:link {
  background-color: #eee9de;
  border: 1px solid #333;
  border-radius: 5px;
  color: #333;
  display: inline-block;
  text-decoration: none;
}

a:hover {
  background-color: #666;
  border: 1px solid #333;
  border-radius: 5px;
  color: #eee9de;
}
