html {
  background-color: #eee9de;
  display: inline-block;
  font-family: Lato, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 3em 1em 1em;
  text-align: center;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.container {
  display: inline-block;
  margin: 0;
}

.section1 {
  display: inline;
  max-width: 400px;
}

img {
  display: block;
  width: 100%;
  max-width: 25em;
  vertical-align: middle;
}

section div {
  width: 100%;
  max-width: 25em;
  display: inline-block;
  margin: 0;
  text-align: left;
}

section h2 {
  display: inline-block;
  padding: .7em 0;
  text-align: left;
}

div p {
  display: inline-block;
  margin-top: 0;
}

a {
  display: inline-block;
  text-align: left;
}

.btn {
  background-color: #eee9de;
  border: 3px solid #333;
  border-radius: 8px;
  color: #333;
  padding: .4em .75em .5em;
  text-decoration: none;
}

a:hover {
  background-color: #666;
  border: 3px solid #333;
  border-radius: 8px;
  color: #eee9de;
}
